.life {
    width:186px;
    height:186px;
    border:0px solid black;
    background-size: 186px 186px;
}

.progress {
    width:0%;
    height:186px;
    background-color:red;
    background-size: 186px 186px;
    
    /* make it responsive */
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	/* div height to be the same as width*/
	padding-top:100%;
	
	/* make it a circle */
	border-radius:50%;
	
	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	
	/* it makes the clue thing, takes smaller dimension to fill div */
	background-size: cover;
	
	/* it is optional, for making this div centered in parent*/
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}